::-webkit-scrollbar {
    width: 0px;
}

body {
  background: #1D1E22;
  color: #C5C8D4;
  text-align: center;
  font-family: monospace;
}

.card {
  position: absolute;
  border: 1px solid #36383F;
  padding: 5px;
}

.description {
  padding: 1px 0 6px 0;
  font-size: 7pt;
}

#board {
  position: absolute;
  top: 52px;
  left: 5px;
  width: 100px;
  height: 320px;
  padding: 0;
  border: 1px solid #36383F;
  overflow: auto;
}

#title {
  position: absolute;
  top: 12px;
  margin: 0;
}

#col_select_label {
  position: absolute;
  top: 19px;
  font-size: 7pt;
  text-align: left;
}

#col_select {
  position: absolute;
  top: 16px;
}

#loader {
  position: absolute;
  width: 100px;
}

#view_pane {
  position: absolute;
  top: 52px;
  width: 380px;
  height: 320px;
  padding: 0;
  border: 1px solid #36383F;
  overflow: hidden;
}
