::-webkit-scrollbar {
    width: 0px;
}

body {
  background: #1D1E22;
  color: #C5C8D4;
  text-align: center;
  font-family: monospace;
}

.card {
  position: absolute;
  border: 1px solid #36383F;
  padding: 5px;
  user-select: none;
}
.card:hover {
  border: 1px solid #8B8F9F;
  cursor: pointer;
}

.description {
  padding: 1px 0 6px 0;
  font-size: 7pt;
}

#board {
  position: absolute;
  top: 52px;
  left: 5px;
  width: 100px;
  height: 320px;
  padding: 0;
  border: 1px solid #36383F;
  overflow: auto;
}

#title {
  position: absolute;
  top: 12px;
  margin: 0;
}

#col_select_label {
  position: absolute;
  top: 23px;
  font-size: 7pt;
  text-align: left;
  visibility: hidden;
}

#col_select {
  position: absolute;
  top: 20px;
  visibility: hidden;
}

#loader {
  position: absolute;
  width: 100px;
}

#preview_pane {
  position: absolute;
  top: 52px;
  width: 370px;
  height: 310px;
  padding: 5px;
  border: 1px solid #36383F;
  overflow: hidden;
}

#preview {
  position: absolute;
}

#preview_description {
  position: absolute;
  top: 230px;
  width: 358px;
  height: 78px;
  padding: 2px 5px;
  border: 1px solid #36383F;
  font-size: 10pt;
  text-align: left;
}
